html {
  /* font-family: "Manrope", sans-serif;
  font-family: "Tiro Devanagari Sanskrit", serif; */
  height: 100%;
}
.main-color {
  color: #1f3a3d;
}
.main-background-color {
  background-color: #1f3a3d;
}
.secondary-color {
  color: #ffffff;
}
.secondary-background-color {
  background-color: #ffffff;
}
.accent-color {
  color: #55431d;
}
.accent-background-color {
  background-color: #55431d;
}
.main-font {
  font-family: "Manrope", sans-serif;
}
.secondary-font {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.nav {
  position: absolute;
  width: 99vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.top-sub-nav {
  height: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: min(2rem, 50px);
}
#sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: min(2rem, 20px);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.content-container {
  display: grid;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 50 50;
  grid-template-rows: 60% 1fr;
}
#supporting-image {
  height: 100%;
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}
#container-left {
  grid-column: 1;
  grid-row: 2;
}
#container-right {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  justify-items: stretch;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.secondary-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
}
